/* font-family: 'Press Start 2P', cursive <= this is for the game over message */


.game {
  width: 600px;
  height: 200px;
  border: 1px solid white;
  background-color: #111216;
  margin: auto;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

body {
  background-color: black;
  background-size: 1500px;
}

#figure {
  width: 50px;
  height: 50px;
  background-image: url(./mortypxl.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
  /* animation-timing-function: linear; */
}

.jump {
  animation: jump 0.4s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.1, 0.4)
}

@keyframes jump {

    /* from {
        transform: translate3d(0, 0, 0); JUMPS REALLY HIGH
    }
    to {
        transform: translate3d(0, -150px, 0);
    } */
  0% {
    top: 150px;
  }

  10% {
    top: 130px;
  }
  20% {
    top: 120px;
  }
  30% {
    top: 110px;
  }
  40% {
    top: 100px;
  }
  50% {
    top: 60px;
  }

  60% {
    top: 110px;
  }
  70% {
    top: 120px;
  }

  80% {
    top: 130px;
  }

  90% {
    top: 140px;
  }

  100% {
    top: 150px;
  }
}

#obstacle {
  width: 50px;
  height: 70px;
  position: relative;
  top: 20px;
  left: 300px;

  background-image: url(./portal.gif);
  background-size: 50px 70px;

  /* animation: block 2.5s infinite linear; */
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -5px;
  }
}

#ship {
  width: 60px;
  height: 60px;
  position: relative;
  top: 20px;
  left: 150px;

 background-image: url("RickShip.png");
 background-size: 60px 60px;

  animation: block 5s infinite linear;
}

#detection  {
  width: 40px;
  height: 100px;
  position: absolute;

  top: 19px;

  
  background-color: lime;
}